@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
main{
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.58);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.58);
    margin-bottom: 10%;
    margin-top: 12%;
    font-family: 'Inknut Antiqua', serif;
    color: white;
    padding: 1%;
}
@media (max-width: 1000px){
    main{
        width: 50%;
        padding: 15px;
        margin-left: 25%;
        border-radius: 0;
        background-color:rgba(0, 0, 0, 0.8);
        text-align: center;
        -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.58);
        -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.58);
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.58);
        font-family: 'Inknut Antiqua', serif;
        margin-top: 35%;
        color: white; 
    }
    main h2{
        font-size: medium;
    }
    main p{
        font-size: small;
    }
}